@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar {
    width: 0;
}

:root {
    --gren_main: #22953E;
}

a, button, input {
    outline: none;
}

.hide {
    display: none;
}

.active {
    display: block;
    animation-duration: 1.5s;
    animation-name: ire;
}

@keyframes ire {
    0% {
        transform: translateY(-5%);
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
        -o-transform: translateY(-5%);
        opacity: 0.5;
}
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

body {
    font-family: 'Roboto',
    sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header-img {
    max-width: 55px;
}

.header-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: flex-end;
    list-style-type: none;
    font-size: 28px;
    text-transform: capitalize;
}

.header-item {
    text-decoration: none;
    color: #000;
    transition: 0.5s ease color;
    -webkit-transition: 0.5s ease color;
    -moz-transition: 0.5s ease color;
    -ms-transition: 0.5s ease color;
    -o-transition: 0.5s ease color;
}

.header-item:hover {
    color: var(--gren_main);
    border-bottom: 3px solid var(--gren_main);
}

.header-content__text {
    margin: 0;
    margin-left: 0.7rem;
    padding: 0;
    font-size: 2.2rem;
}

.header-list-item {
    margin-right: 30px;
}

.header-list-item:last-child {
    margin-right: 0;
}

.header-content {
    max-width: 100%;
    height: 85vh;
}

.header-content-zen {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-content-zen__text {
    padding-top: 15.5vh;
}

.header-conten__title {
    flex: 0 0 900px;
    font-size: 14.5rem;
    margin: 0;
    margin-top: 7.5rem;
}

.header-conten__title > span {
    color: var(--gren_main);
}

.about {
    margin-top: 7rem;
    margin-bottom: 7.5rem;
}

.title {
    font-size: 120px;
    font-weight: 700;
}

.title-litel {
    font-size: 50px;
    margin: 0;
    padding: 0;
    margin-top: 2.3rem;
}

.title-litel > span {
    color: var(--gren_main);
}

.title > span {
    color: var(--gren_main);
} 

.about__title {
    margin: 0;
    padding: 0;
}

.about__img {
    width: 50%;
    flex-grow: 1;
}

.about__img > img {
    width: 100%;
}

.about-text {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-text-osnova {
    width: 50%;
    word-wrap: break-word;
}

.about-text__text {
    margin-top: 10.3rem;
    font-size: 32px;
    line-height: 2.5rem;
}

.about-list {
    padding: 0;
    padding-left: 2rem;
    font-size: 2rem;
}

.about-list-item::marker {
    color: var(--gren_main);
}

.about-list-item > span {
    color: var(--gren_main);
}

.skils__title {
    margin: 0;
    padding: 0;
}

.skils-content {
    width: 100%;
    padding-top: 5rem;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12.5rem;
}

.skils-content__img {
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.slils--level-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.skils--item__title {
    font-size: 45px;
    margin: 0;
    padding: 0;
}

.skils--item__text {
    font-size: 35px;
    padding: 0;
    margin: 0;
}

.skils--item {
    margin-right: 5rem;
}

.skils--level-list-item > img {
    width: 50px;
}

.top {
    margin-top: 5rem;
}

.skils {
    margin-bottom: 7.5rem;
}

.works {
    margin-bottom: 7.5rem;
}

.works-conteiner {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteiner {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 750px;
}

.conteiner-item {
    position: relative;
    width: 90%;
    min-height: 750px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1), -6px -6px 10px rgba(0, 0, 0, 0.1);
}

.conteiner-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: -1;
}

.conteiner-item-info {
    position: absolute;
    bottom: 0;
}

.conteiner-left,
.conteiner-right {
    width: 65px;
    height: 65px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--gren_main);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    transition: .5s ease box-shadow;
    -webkit-transition: .5s ease box-shadow;
    -moz-transition: .5s ease box-shadow;
    -ms-transition: .5s ease box-shadow;
    -o-transition: .5s ease box-shadow;
}

.conteiner-left {
    background-image: url('../img/l.svg');
}

.conteiner-right {
    background-image: url('../img/r.svg');
}

.conteiner-item__text {
    color: #fff;
    font-size: 1.9rem;
    margin-left: 5rem;
}

.conteiner-item-info {
    width: 100%;
    height: 10vh;
    background-color: var(--gren_main);
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteiner-info-links {
    margin-right: 5rem;
    display: flex;
}

.contener-look,
.contener-dowland {
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    padding: 15px 20px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    animation-duration: 5s;
    animation-name: on;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner-left:hover, .conteiner-right:hover {
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(73, 73, 73, 0.1);
}

.contener-look > span,
.contener-dowland > span {
    color: var(--gren_main);
}

.contener-look > img,
.contener-dowland > img {
    width: 25px;
    margin-left: 0.5rem;
}

.contener-look {
    margin-right: 1rem;
}

.contener-look:hover, .contener-dowland:hover {
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.1),
    -4px -4px 8px rgba(73, 73, 73, 0.1);
}

.links {
    margin-bottom: 7.5rem;
}

.links-item {
    margin-right: 7.5rem;
}

.links__text {
    display: flex;
}

.links__text__img {
    width: 50px;
    margin: 0;
    padding: 0;
}

.links__text__title {
    margin-left: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.linsk-conteiner {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.links__link {
    font-size: 28px;
    text-decoration: none;
    color: #000;
    transition: .5s ease color, 0.5s ease border-bottom;
    -webkit-transition: .5s ease color, 0.5s ease border-bottom;
    -moz-transition: .5s ease color, 0.5s ease border-bottom;
    -ms-transition: .5s ease color, 0.5s ease border-bottom;
    -o-transition: .5s ease color, 0.5s ease border-bottom;
}

.links__link > span {
    color: var(--gren_main);
}

.links__link:hover {
    color: var(--gren_main);
    border-bottom: 3px solid var(--gren_main);
}